<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Divergence Meter</title>
        <script src="js/jquery-3.4.1.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <main class='container' id="main">
            <div>
                    <div class="col display" id="divergence_display">

                    </div>
                    <button id="diverge_click">click</button>
            </div>
        </main>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io(['http://localhost:3000', 'http://10.70.1.150:3000']);
            $('#diverge_click').click(() => {
                emitToServer();
            })
            
            socket.on('diverge', (data) => {
                if(data.reload == true) {
                    document.location.reload();
                }
                diverged(data);
                
            });
            function emitToServer() {
                socket.emit('updated', true );
            }
            function diverged(data) {
                let array = data.val.toString().split('');
                for(var i = 0; i < array.length; i++) {
                    if(array[i] == "."){
                        array[i] = "point";
                    }
                }
                let element = '';
                element += '<div col class="display center" id="display">';
                    element += '<img src="images/'+array[0]+'.png" id="img1" />';
                    element += '<img src="images/'+array[1]+'.png" />';
                    element += '<img src="images/'+array[2]+'.png" />';
                    element += '<img src="images/'+array[3]+'.png" />';
                    element += '<img src="images/'+array[4]+'.png" />';
                    element += '<img src="images/'+array[5]+'.png" />';
                    element += '<img src="images/'+array[6]+'.png" />';
                    element += '<img src="images/'+array[7]+'.png" />';
                element += '</div>';
                $('#divergence_display').replaceWith(element);
            }
        </script>
    </body>
</html>