<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Divergence Meter</title>
        <script src="js/jquery-3.4.1.js"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class='bg-dark'>
        <main class='container'>
            <div>
                    <div class="col display" id="divergence_display">

                    </div>
            </div>
        </main>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            const socket = io(['http://localhost:3000', 'http://10.70.1.150:3000']);
            $('#display').click(() => {
                socket.emit('updated', { btn: 'was clicked'} );
                location.reload();
            })
            socket.on('diverge', (data) => {
                let array = data.val.toString().split('');
                for(var i = 0; i < array.length; i++) {
                    if(array[i] == "."){
                        array[i] = "point";
                    }
                }
                let element = '';
                element += '<div col class="display center" id="display">';
                    element += '<img src="images/'+array[0]+'.png" />';
                    element += '<img src="images/'+array[1]+'.png" />';
                    element += '<img src="images/'+array[2]+'.png" />';
                    element += '<img src="images/'+array[3]+'.png" />';
                    element += '<img src="images/'+array[4]+'.png" />';
                    element += '<img src="images/'+array[5]+'.png" />';
                    element += '<img src="images/'+array[6]+'.png" />';
                    element += '<img src="images/'+array[7]+'.png" />';
                element += '</div>';
                $('#divergence_display').replaceWith(element);
            });
        </script>
    </body>
</html>